<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Efetuar Login de Acesso - Mais Quilometros</title>

    <!-- Principal CSS do Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Estilos customizados para esse template -->
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body class="background text-center">
    <form class="form-signin">
      <img class="mb-4" src="img/logo.png" alt="" width="200" height="200"><br>
      <label for="email">Login</label>
      <input type="email" id="email" class="form-control" placeholder="E-mail" required autofocus>
      <label for="senha">Senha</label>
      <input type="password" id="senha" class="form-control" placeholder="Senha" required>
        <div class="row">
            <input class="btn btn-md btn-primary button-entrar" type="submit">
            <button type="button" class="btn btn-md btn-secondary button-cadastrar" href="cadastro_cliente.html">Cadastrar</button>
        </div>
    </form>
  </body>
</html>